body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0dbdb;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
  text-align: center;
  font-size: 60px;
  margin-top: 6px;
  margin-bottom: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.style-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  background-color: #b8b8d6;
  max-width: 60%;
  padding: 1.5rem;
  margin: auto;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: 100%;
  :hover {
    background-color: rgb(219, 235, 238);
  }
  :focus {
    background-color: hwb(157 54% 7% / 0.699);
  }
}

.text-input {
  width: 100%;
  padding-block: 0.75rem;
  margin: 6px 0;
  font-size: 20px;
  border: 1px solid rgba(0, 4, 255, 0.918);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 60rem;
  margin: 1rem 0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(254, 254, 255);
  font-size: 2vw;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgb(3, 1, 26);
  letter-spacing: 2px;
  margin: 0;
  text-wrap: wrap;
}

.image-text.top {
  top: 10px;
}

.image-text.bottom {
  bottom: 10px;
}

.download-button {
  font-size: 35px;
  margin-top: 20px;
  padding: 14px 40px;
  border: none;
  border-radius: 12px;
  transition-duration: 0.4s;
}
.download-button:hover {
  background-color: rgba(13, 133, 9, 0.795);
  color: white;
}

.search-label {
  font-size: 30px;
  padding: 10px 23px;
  font-weight: 100;
  background: rgba(48, 49, 52, 0.338);
  box-sizing: border-box;
}

.input-search-label {
  font-size: 30px;
  padding: 6px;
  margin: 16px;
  background-color: #b8b8d6;
}

.button-search-label {
  font-size: 23px;
  margin-top: 20px;
  padding: 14px 40px;
  border: none;
  border-radius: 12px;
  background-color: #b8b8d6;
}

.Meme-template {
  margin: 6px 8%;
  display: block;
}
